# Data Cleaning

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
raw_stats = pd.read_csv("raw_player_stats_2022_23.csv")
raw_pos = pd.read_csv("raw_player_pos_2022_23.csv")

In [3]:
raw_stats.head()

,Player,Team,Age,GP,W,L,Min,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,Jayson Tatum,BOS,25,74,52,22,2732.2,2225,727,1559,...,649,342,213,78,51,160,3691,31,1,470
1,Joel Embiid,PHI,29,66,43,23,2284.1,2183,728,1328,...,670,274,226,66,112,205,3706,39,1,424
2,Luka Doncic,DAL,24,66,33,33,2390.5,2138,719,1449,...,569,529,236,90,33,166,3747,36,10,128
3,Shai Gilgeous-Alexander,OKC,24,68,33,35,2416.0,2135,704,1381,...,329,371,192,112,65,192,3425,3,0,149
4,Giannis Antetokounmpo,MIL,28,63,47,16,2023.6,1959,707,1278,...,742,359,246,52,51,197,3451,46,6,341

In [37]:
raw_stats[raw_stats['Team'] == 'GSW']

,Player,Team,Age,GP,W,L,Min,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
18,Jordan Poole,GSW,23,82,44,38,2458.1,1675,550,1278,...,225,369,252,63,21,214,2499,1,0,-11
20,Stephen Curry,GSW,35,56,30,26,1941.2,1648,559,1133,...,341,352,179,52,20,117,2622,12,1,268
29,Klay Thompson,GSW,33,69,38,31,2278.9,1509,546,1252,...,286,163,123,49,29,130,2208,2,0,163
165,Donte DiVincenzo,GSW,26,72,42,30,1894.4,678,235,540,...,325,252,112,97,10,133,1655,4,0,124
169,Jonathan Kuminga,GSW,20,67,38,29,1394.4,666,261,497,...,231,125,95,41,31,157,1252,1,0,-53
189,Andrew Wiggins,GSW,28,37,19,18,1190.3,633,250,529,...,186,85,48,45,28,107,1155,3,0,118
191,Draymond Green,GSW,33,73,41,32,2297.6,617,250,474,...,525,500,204,74,61,229,2198,11,0,346
202,Kevon Looney,GSW,27,82,44,38,1957.6,578,242,384,...,760,207,45,52,50,224,2062,14,0,157
254,Anthony Lamb,GSW,25,62,36,26,1195.0,415,148,314,...,215,96,54,28,20,134,907,0,0,32
273,JaMychal Green,GSW,32,57,30,27,796.7,366,136,252,...,205,51,52,25,23,105,781,0,0,-156
293,Ty Jerome,GSW,25,45,22,23,815.6,309,118,242,...,78,135,30,23,5,64,659,0,0,-92
294,Moses Moody,GSW,20,63,37,26,817.1,302,108,227,...,105,51,34,18,7,54,546,0,0,-7
402,Patrick Baldwin Jr.,GSW,20,31,15,16,225.8,122,43,109,...,40,11,11,6,4,14,206,0,0,-51
413,Gary Payton II,GSW,30,22,13,9,367.6,101,41,69,...,69,30,16,22,5,43,294,0,0,39
482,Ryan Rollins,GSW,20,12,5,7,62.1,23,7,20,...,12,6,16,1,1,10,36,0,0,-47
494,Andre Iguodala,GSW,39,8,3,5,112.6,17,7,15,...,17,19,9,4,3,11,78,0,0,35
507,Lester Quinones,GSW,22,4,4,0,18.1,10,2,5,...,3,2,5,1,0,0,15,0,0,6

In [4]:
raw_pos.head()

                    Player POS
0              Joel Embiid   C
1              Luka Doncic  PG
2           Damian Lillard  PG
3  Shai Gilgeous-Alexander  PG
4    Giannis Antetokounmpo  PF

In [9]:
raw_dataset = pd.merge(left = raw_stats, right = raw_pos, how = 'outer')
raw_dataset.head()

,Player,Team,Age,GP,W,L,Min,PTS,FGM,FGA,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,POS
0,Jayson Tatum,BOS,25.0,74.0,52.0,22.0,2732.2,2225.0,727.0,1559.0,...,342.0,213.0,78.0,51.0,160.0,3691.0,31.0,1.0,470.0,SF
1,Joel Embiid,PHI,29.0,66.0,43.0,23.0,2284.1,2183.0,728.0,1328.0,...,274.0,226.0,66.0,112.0,205.0,3706.0,39.0,1.0,424.0,C
2,Luka Doncic,DAL,24.0,66.0,33.0,33.0,2390.5,2138.0,719.0,1449.0,...,529.0,236.0,90.0,33.0,166.0,3747.0,36.0,10.0,128.0,PG
3,Shai Gilgeous-Alexander,OKC,24.0,68.0,33.0,35.0,2416.0,2135.0,704.0,1381.0,...,371.0,192.0,112.0,65.0,192.0,3425.0,3.0,0.0,149.0,PG
4,Giannis Antetokounmpo,MIL,28.0,63.0,47.0,16.0,2023.6,1959.0,707.0,1278.0,...,359.0,246.0,52.0,51.0,197.0,3451.0,46.0,6.0,341.0,PF

In [10]:
print(raw_dataset.dtypes)

Player     object
Team       object
Age       float64
GP        float64
W         float64
L         float64
Min       float64
PTS       float64
FGM       float64
FGA       float64
FG%       float64
3PM       float64
3PA       float64
3P%       float64
FTM       float64
FTA       float64
FT%       float64
OREB      float64
DREB      float64
REB       float64
AST       float64
TOV       float64
STL       float64
BLK       float64
PF        float64
FP        float64
DD2       float64
TD3       float64
+/-       float64
POS        object
dtype: object

In [12]:
# There is 1 null data for each columns except Position (which has 6).
print(raw_dataset.isnull().sum())

Player    0
Team      1
Age       1
GP        1
W         1
L         1
Min       1
PTS       1
FGM       1
FGA       1
FG%       1
3PM       1
3PA       1
3P%       1
FTM       1
FTA       1
FT%       1
OREB      1
DREB      1
REB       1
AST       1
TOV       1
STL       1
BLK       1
PF        1
FP        1
DD2       1
TD3       1
+/-       1
POS       6
dtype: int64

In [16]:
raw_dataset[raw_dataset['Team'].isnull()]

,Player,Team,Age,GP,W,L,Min,PTS,FGM,FGA,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,POS
539,Nikola JoviÄ‡,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F

In [17]:
raw_dataset[raw_dataset['POS'].isnull()]

,Player,Team,Age,GP,W,L,Min,PTS,FGM,FGA,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,POS
426,Nikola Jovic,MIA,19.0,15.0,7.0,8.0,204.5,82.0,28.0,69.0,...,10.0,10.0,7.0,2.0,19.0,151.0,0.0,0.0,-16.0,NaN
534,Alondes Williams,BKN,23.0,1.0,1.0,0.0,5.3,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,1.0,-1.0,0.0,0.0,-5.0,NaN
535,Deonte Burton,SAC,29.0,2.0,1.0,1.0,6.5,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,NaN
536,Frank Jackson,UTA,24.0,1.0,0.0,1.0,5.0,0.0,0.0,3.0,...,1.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,-2.0,NaN
537,Michael Foster Jr.,PHI,20.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0,NaN
538,Sterling Brown,LAL,28.0,4.0,2.0,2.0,24.4,0.0,0.0,4.0,...,2.0,0.0,3.0,0.0,4.0,22.0,0.0,0.0,-4.0,NaN